@import url("https://fonts.googleapis.com/css2?family=Anton&family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgb(92, 88, 88);
}

.navlogo img {
  border-radius: 50%;
}

.hero {
  color: white;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(7, 7, 6, 0.7), rgba(27, 26, 25, 0.7)),
    url(./assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero .details {
  width: 90%;
  color: #e1d9d2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero .details .greetings {
  font-size: 40px;
  font-style: "Poppins", sans-serif;
}

.hero .details .name {
  font-size: 80px;
}

.hero .details .title {
  font-size: 50px;
  font-weight: 800;
}

.hero .details .para {
  padding-top: 20px;
  font-size: 30px;
  font-weight: 500;
  font-style: italic;
}

.hero .hero-icons {
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero .hero-icons a {
  padding: 15px;
  font-size: 25px;
  color: #e1d9d2;
  transition: 0.3 ease;
}

.hero .hero-icons a:hover .icons {
  color: darkcyan;
  transform: rotate(360deg) scale(1.5);
}

.cta {
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: space-between;
}


.cta .discordmeeting {
  padding: 0;
}



.cta .discordmeeting a {
  text-decoration: none;
  color: #e1d9d2;
  border: #e1d9d2;
}

.Typewriter {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}




@media (max-width: 720px) {
  .hero .details {
    width: 90%;
    color: #e1d9d2;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .hero .details .Typewriter {
    font-size: 20px;
  }
  .hero .details .title {
    font-size: 30px;
  }

  .hero .details .para {
    font-size: 20px;
  }
  .hero .hero-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    height: 50px;
    margin: 2px;
    cursor: default;
  }
  .navbar .nav-link {
    text-align: center;
  }

  .cta {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: space-between;
  }

  .hero .hero-icons {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: space-between;
  }
}

/** About section design */

.about-section {
  color: white;
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(rgba(67, 65, 65, 0.7), rgba(6, 5, 5, 0.7)),
    url(./assets/aboutbackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.typewriter-about {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 20px;
  color: gray;
}

























#CV a {
  border: #e1d9d2;
  color: #e1d9d2;
  text-decoration: none;
}

.techstack-icons {
  font-size: 60px;
  margin: 10px;
}


@media (max-width: 1024px) {
  .typewriter-about {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 500;
    font-size: 25px;
    color: gray;
  }

  .navbar .nav-link {
    text-align: center;
  }

  .techstack-icons {
    font-size: 30px;
  }
}

@media (max-width: 720px) {
  .typewriter-about {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 500;
    font-size: 15px;
    color: gray;
  }

  #CV {
    font-size: 10px;
    justify-content: center;
    padding-left: 80px;
  }
}

@media (max-width: 720px) {
  .typewriter-about {
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .techstack2 {
    position: absolute;
    top: 155%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .techstack-icons {
    font-size: 25px;
  }

  #CV {
    position: absolute;
    right: 45%;
  }
}
